.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    top:0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(227, 224, 224);
    justify-content: center;
}
.navmain{
    display: flex;
    height: 100%;
    width: 66%;
    align-items: center;
    justify-content: space-between;
}
.brand{
    left:30%;
    height: 70%;
    width: auto;
    margin-top: 5px;
    cursor: pointer;
}
.navicon{
    display: flex;
    background-color: white;
    height: 100%;
    size: 40%;
    z-index: 1;
    align-items: center;
}
.icon{
    height: 25px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
.profile{
    width: 25px;
    border-radius: 50%;
    background-image: url('image/profile.jpg');
    background-size: cover;
}
.input-search{
    position: absolute;
    left:40%;
    width: 265px;
    height: 10px;
    border: 2px solid rgb(239,239,239);
    border-radius: 8px;
    font-size: 16px;
    background-color: rgb(239,239,239);
    background-image: url('image/search-icon.png');
    background-size: 25px;
    background-position: 10px ; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}